body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff9f0;
    color: #333;
    line-height: 1.6;
    padding-top: 70px;
}

/* navbar */

.navbar {
    background-color: #fff3e0 !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}

.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
    color: #ecab07 !important;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    color: #333 !important;
    font-weight: 500;
    transition: color 0.3s;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #c49a6c !important;
}

#cartBtn {
    border-color: #b2904e;
    color: #b2904e;
    transition: all 0.3s ease;
}

#cartBtn:hover {
    background-color: #b2904e;
    color: #fff;
}