body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff9f0;
    color: #333;
    line-height: 1.6;
    padding-top: 70px;
}

/* navbar */

.navbar {
    background-color: #fff3e0 !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}

.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
    color: #ecab07 !important;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    color: #333 !important;
    font-weight: 500;
    transition: color 0.3s;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #c49a6c !important;
}

#cartBtn {
    border-color: #b2904e;
    color: #b2904e;
    transition: all 0.3s ease;
}

#cartBtn:hover {
    background-color: #b2904e;
    color: #fff;
}

/* Contact Section  */

.contact-section h2 {
    color:rgba(85, 63, 22, 0.4);
}

.contact-section p {
    font-size: 15px;
}

form {
    border: 1px solid #eee;
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.form-control {
    border-radius: 8px;
}

.btn-dark {
    background-color: #b2904e;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-dark:hover {
    background-color: #062d06;
}

/*  Map   */
.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-success {
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #128c7e;
}

/*  Visit Cards  */
.visit-section{
    background-color: #fff;
    padding: 60px 0;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.visit-section .card {
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.visit-section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  right: 20px;          /* distance from right edge */
  bottom: 100px;        /* distance from bottom */
  z-index: 1000;        /* stay above all elements */
  width: 100px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
 

.whatsapp-float:hover {
  transform: scale(1.1);
}

/*  Footer  */
footer {
    color: #555;
    font-size: 0.9rem;
}

/* Responsive  */
@media (max-width: 768px) {
    .contact-section {
        text-align: center;
    }
}