
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff9f0;
  color: #333;
  line-height: 1.6;
  padding-top: 70px;
}

/* -----NAVBAR---- */
.navbar {
 background-color: #fff3e0 !important;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
 
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.8rem;
  color: #ecab07 !important;
  letter-spacing: 1px;
}
.navbar-nav .nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: color 0.3s;
  margin-right: 10px;
}
.navbar-nav .nav-link:hover {
  color: #c49a6c !important;
}
/* ----------cart-------- */
#cartBtn {
  border-color: #b2904e;
  color: #b2904e;
  transition: all 0.3s ease;
}
#cartBtn:hover {
  background-color: #b2904e;
  color: #fff;
}

/* ------- HERO ------- */
.hero {
  position: relative;
  background: linear-gradient(to right, #fbe6c2, #f9d29d);
  padding: 100px 0;
  border-radius: 0 0 50px 50px;
  text-align: left;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}
.hero p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 25px;
}
.hero .btn-dark {
  background-color: #000;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 30px;
}
.hero .btn-dark:hover {
  background-color: #c49a6c;
}

/* ------- CATEGORY CARDS --------- */
.card-cat {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-radius: 15px;
  transition: transform 0.3s;
}
.card-cat:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.02);
}
.card-cat h5 {
  margin-top: 10px;
  font-weight: 600;
  color: #000;
}


.card-cat img{
  transform: scale(1.1);

}
@keyframes floatSide{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}
.card-cat img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
  animation: floatSide 2.5s ease-in-out infinite ;
}


/* ------------ FEATURED PRODUCTS --------------- */
.product-card {
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-radius: 15px;
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  border-radius: 15px;
  height: 260px;
  object-fit: cover;
}
.price {
  font-weight: 600;
  color: #c49a6c;
}

/* -------------- NEWSLETTER --------------- */
.newsLetter {
  background-color: #fff3e0;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.newsLetter input {
  border-radius: 30px;
  border: 1px solid #ddd;
}
.newsLetter button {
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  transition: background 0.3s;
}
.newsLetter button:hover {
  background-color: #084d08;
}

/* ----------------FOOTER -------------- */
footer {
  background-color: #3d3d3d;
  color: #595353;
  padding: 50px 0;
  border-top: 3px solid #c49a6c;
}
footer a{
    color: #c49a6c;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer h5, footer h6{
    color: #fff;
    font-weight: 600;
}
footer .brand-tittle{
    font-size: 1.8rem;
}